{% extends "base_erp.html" %}

{% block content %}

<div class="card">
    <h2>Kardex</h2>
</div>

<div class="card">
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Fecha</th>
            <th>Variante</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Saldo</th>
            <th>Usuario</th>
        </tr>

        {% for m in movimientos %}
        <tr>
            <td>{{ m.creado }}</td>
            <td>{{ m.variante }}</td>
            <td>{{ m.tipo }}</td>
            <td>{{ m.cantidad }}</td>
            <td>{{ m.saldo_post_movimiento }}</td>
            <td>{{ m.usuario|default:"Sistema" }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}