<!-- produccion.html-->
{% extends "base.html" %}

{% block content %}

<h2>🏭 Producción</h2>

<div class="row">

    <!-- KPIs -->
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Lotes</h5>
            <h3>{{ total_lotes }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Prendas</h5>
            <h3>{{ total_prendas }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            <h5>Consumo Tela</h5>
            <h3>{{ consumo_total }}</h3>
        </div>
    </div>

</div>

<hr>

<h4>🧵 Rollos Disponibles</h4>
<table class="table table-bordered">
    <tr>
        <th>Código</th>
        <th>Tela</th>
        <th>Color</th>
        <th>Disponible</th>
    </tr>
    {% for r in rollos %}
    <tr>
        <td>{{ r.codigo }}</td>
        <td>{{ r.tipo_tela.nombre }}</td>
        <td>{{ r.color.nombre }}</td>
        <td>{{ r.cantidad_disponible }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h4>📦 Últimos Lotes</h4>

<table class="table table-striped">
    <tr>
        <th>Referencia</th>
        <th>Rollo</th>
        <th>Prendas</th>
        <th>Consumo</th>
        <th>Costo</th>
    </tr>

    {% for l in lotes %}
    <tr>
        <td>{{ l.referencia }}</td>
        <td>{{ l.rollo.codigo }}</td>
        <td>{{ l.total_prendas }}</td>
        <td>{{ l.consumo_total }}</td>
        <td>{{ l.costo_total }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}