{% extends "base_erp.html" %}

{% block content %}

<div class="card">
    <h2>Nuevo Traslado</h2>

    <form method="post">
        {% csrf_token %}

        <label>Origen (ID sucursal)</label>
        <input type="number" name="origen" required>

        <label>Destino (ID sucursal)</label>
        <input type="number" name="destino" required>

        <label>Variante</label>
        <input type="number" name="variante_id" required>

        <label>Cantidad</label>
        <input type="number" name="cantidad" required>

        <br><br>

        <button type="submit">Ejecutar traslado</button>
    </form>
</div>

{% endblock %}