{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-white">
        <h5>Nueva Lista de Precios</h5>
    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-success">
                Guardar
            </button>

            <a href="{% url 'administration:lista_precio_list' %}"
               class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}